body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FEFAE0;
}

.container {
    text-align: center;
    width: 80%;
    border-radius: 10px;
    margin: 50px auto;
    padding: 30px;
    background-color: #F1D3CE;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

span {
    font-weight: 600;
    display: inline;
}

#plot {
    background-color: #F1D3CE;
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.coordinates {
    display: flex;
    justify-content: center;
    gap: 2em;
}

button {
    width: 10em;
    border-radius: 15px;
    border: none;
    background: #55AAFF;
    padding: 6px;
    margin: 2em;
    outline: none;
}

button:hover {
    background: #0044FF;
}

.location {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

input {
    border: none;
    padding: 5px;
    border-radius: 3px;
}

#temperaturePlot {
    margin-top: 3rem;
}